body{
	margin: 0;
	background-color: #888;
	user-select: none;
}
main{
	display: block;
	width: 100%;
	background-color: #444;
}
top > *{
	display: inline-block;
	font-size: 20px;
	background-color: #222;
	color: white;
	font-family: monospace;
	outline: 0;
	border: 1px solid black;
	transition: background-color .2s;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 5px;
}
top > button:hover{
	background-color: #444;
}
top > input[type=number]{
	width: 80px;
}
input[type=file]{
	display: none;
}
button{
	user-select: none;
}
h3{
	text-align: center;
	color: white;
	font-family: monospace;
}
#editor{
	background-color: #222;
}
#center{
	display: grid;
	grid-template-columns: 1000px calc(100% - 1000px);
	overflow-y: hidden;
}
#components{
	background-color: #888;
	overflow-y: scroll;
	height: 600px;
}
.comp{
	display: block;
	width: 80%;
	background-color: #222;
	color: white;
	border: 3px solid black;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	transition: background-color .3s;
}
.comp:hover{
	background-color: #444;
}